body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 5%;
    
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    background-image: linear-gradient(yellow,tomato);
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.flexible-container{
    display: flex;
}
.experience-level{
    box-shadow: 10px 10px 40px grey;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    width: 40%;
    border-radius: 3px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#pro-web{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 2;

}
#junior-web{
    border-left: 7px solid;
    border-image: linear-gradient(yellow, red);
    border-image-slice: 2;

}
footer p{
    text-align: center;
}